{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
	{% if item %}
	<h1>Edit Insurance policy:</h1>

	<form action="{{url_for('editinsuranceField', insurance_id=insurance_id, insurancefield_id=item.id )}}" method = 'POST'>

		<dl>
			<dt>Name:</dt>
				<dd><input type ='text' size='30' name='name' placeholder = '{{item.name }}'></dd>
			<dt>Address:</dt>
				<dd><textarea name = 'Address' rows='2' cols='30' placeholder = '{{item.Address }}'></textarea></dd>
			<dt>Insured Value:</dt>
				<dd><input type = 'text' size = '8' name='price' placeholder = '{{item.price}}'></dd>
			<dt>Type:</dt>

			{% if item.Type == 'Auto' %}
				<dd><input type ='radio' name='Type' value='Auto' checked>Auto</dd>
			{%else%}
			<dd><input type ='radio' name='Type' value='Auto'>Auto</dd>
		    {% endif %}

		    {% if item.Type == 'Renters' %}
		       <dd><input type ='radio' name='Type' value='Renters' checked>Renters</dd>

		    {%else%}
				<dd><input type ='radio' name='Type' value='Renters'>Renters</dd>
		    {% endif %}

			{% if item.Type == 'Prize'%}
				<dd><input type ='radio' name='Type' value='Prize' checked>Prize</dd>

			{% else %}
			   <dd><input type ='radio' name='Type' value='Prize'>Prize</dd>

			{% endif %}


			{%if item.Type =='Home'%}
				<dd><input type ='radio' name='Type' value='Home' checked >Home</dd>
			{% else %}
				<dd><input type ='radio' name='Type' value='Home'>Home</dd>
			{% endif %}

		</dl>
		<input type='submit' value='Submit'>
	</form>
	<a href="{{url_for('insurancePolicyL', insurance_id= item.insurance_id)}}">Cancel</a>
	{% endif %}

{% endblock %}
