{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
{% include "messageFlash.html" %}

<p><strong>Current User: {{user.name}}</strong></p>
</br>
<h1><strong>Insured with {{insurance.name}}</strong></h1>

<div><a href = "{{url_for('insuranceNameL') }}">Home</a></div>
<div><a href = "{{url_for('newInsurancePolicy',  insurance_id = insurance.id) }}">Add Item</a></div>
</br>
</br>
{% for i in policies %}

<div>
    <p> Type: {{i.name}}</p>
    <p>Address: {{i.Address}}</p>
    {% if i.InsuredValue.startswith("$") %}
    <p> Insured Value: {{i.InsuredValue}} </p>
    {% else %}
    <p>Insured Value:  {{"$"+i.InsuredValue}} </p>
    {% endif %}
    <a href = "{{url_for('editinsuranceField', insurance_id = insurance.id, insurancefield_id = i.id) }}">Edit</a>
    </br>
    <a href = "{{url_for('deleteInsuItem', insurance_id = insurance.id, insurancefield_id = i.id ) }}">Delete</a>
    </br>
    </br>
</div>


{% endfor %}

{% endblock %}
