{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<body>
<h1> New Insurance policy </h1>
<form action="{{url_for('newInsurancePolicy', insurance_id=insurance_id )}}" method = 'POST'>
	<dl>
		<dt>Name:</dt>
			<dd><input type ='text' size='30' name='name' required></dd>
	            <dt>Address:</dt>
	                        <dd><textarea name = 'Address' rows='2' cols='30' required></textarea></dd>
	            <dt>Insured Value:</dt>
	                        <dd><input type = 'text' size = '8' name='InsuredValue' required></dd>
	            <dt>Type:</dt>
	                        <dd><input type ='radio' name='Auto' value='Auto' required>Auto</dd>
	                        <dd><input type ='radio' name='Renters' value='Renters' required>Renters</dd>
	                        <dd><input type ='radio' name='Prize' value='Prize' required>Prize</dd>
	                        <dd><input type ='radio' name='Home' value='Home' required>Home</dd>
	</dl>
	<input type='submit' value='Create'>
</form>
<a href="{{url_for('insurancePolicyL', insurance_id=insurance_id)}}">Cancel</a>
{% endblock %}
